<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Browser" value="Firefox"/>
		<add key="Url" value="https://www.phptravels.net/"/>
		<add key="EmailDemoUser" value="user@phptravels.com"/>
		<add key="PasswordDemoUser" value="demouser"/>
		<add key="EmailAdmin" value="admin@phptravels.com"/>
		<add key="PasswordAdmin" value="demoadmin"/>
	</appSettings>
</configuration>